a:link {color: blue; text-decoration:none;} 
table{
	font-size:20px;
	text-align:center;
}
.title{
	background: #C7EDCC ;
	font-size: 15px;
	font-weight:bold;
}
.title a:link {
	color: black;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
}
.magTitle {
	background: #C7EDCC;
}

.magTitle a:link {
	color: black;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
}